@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #f0f0f0;
}

:root {
  --primary-color: #20ce34;
}

.logo {
  width: 2em;
  margin-left: 1.5em;
  margin-top: 0.2em;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav a {
  color: #20ce34;
  padding: 0.75em 2em;
  display: block;
  gap: 1em;
  text-decoration: none;
  width: 100%;
}
nav a:hover {
  text-decoration: underline;
}
nav .close {
  width: 1.7em;
  float: right;
  margin: 2em;
}

.mobile-menu {
  margin-right: 1.5em;
  zoom: 110%;
  cursor: pointer;
}

.open-nav {
  transform: translateX(0);
}

@media only screen and (min-width: 780px) {
  .mobile-menu, .close {
    display: none;
  }

  .navBar .container {
    text-align: center;
    display: flex;
  }
  .navBar .container nav {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    position: unset;
    height: auto;
    width: 100%;
    transform: translateX(0);
    margin: 0;
  }
  .navBar .container ul {
    margin: 0 auto;
    display: flex;
  }
  .navBar .container a {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
  }
  .navBar .container .btn {
    width: 4.8em;
    padding-right: 0;
    padding-left: 0;
    border: #20ce34 1px solid;
    padding-inline: 1em;
    border-radius: 3em;
    color: white;
    background-color: #20ce34;
  }
  .navBar .container .logo {
    width: 2em;
    height: 2.5em;
  }

  footer .container {
    width: 780px;
    margin-inline: auto;
  }
  footer .container li {
    font-size: 1.4em;
  }
  footer .container .ContactFooter, footer .container .CompanyFooter, footer .container .AdressFooter {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1190px) {
  .navBar .container {
    width: 1190px;
    margin: 0 auto;
  }
}
.Box {
  background-color: rgb(221, 221, 221);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 0em;
  text-align: center;
}
.Box h2 {
  padding: 1em 1.8em;
  font-weight: 200;
}
.Box img {
  width: 22em;
  border: 1px solid black;
}
.Box p {
  padding: 1em 2em;
}
.Box .zero {
  margin-right: 5em;
  margin-left: 0.8em;
}
.Box .one {
  margin-right: 1.3em;
}
.Box .two {
  margin-left: 5.9em;
}
.Box .three {
  margin-left: 5.8em;
}
.Box .four {
  margin-left: 1.5em;
}
.Box .five {
  margin-left: 1.4em;
}
.Box .six {
  margin-left: 4.4em;
}
.Box .seven {
  margin-left: 3.5em;
}
.Box .text {
  text-align: center;
}
.Box .dimensions {
  padding-left: 2em;
  text-align: center;
}

.Form h3 {
  text-align: center;
  padding: 1em 3em;
}
.Form .formular {
  width: 30em;
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
  border-radius: 1.7em;
  padding: 1em 0 2em 0;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 3em;
}
.Form .formular .lineone {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.Form .formular .lineone .name {
  padding-right: 1em;
}
.Form .formular .linetwo {
  display: flex;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-between;
}
.Form .formular .linetwo .mail {
  padding-right: 1em;
}
.Form .formular .message {
  text-align: center;
}
.Form .formular .message textarea {
  border-radius: 3em;
  padding: 1em;
}
.Form .formular input[type=text] {
  border-radius: 1em;
  outline: none;
  border: 1px solid black;
  height: 2.4em;
  padding-left: 0.7em;
}
.Form .inputos {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1.4em;
}
.Form .inputos input[type=submit] {
  background-color: #2ad13d;
  outline: none;
  border: none;
  width: 7em;
  height: 2em;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

@media only screen and (max-width: 400px) {
  .Form .formular {
    text-align: center;
    width: 90%;
  }
  .Form .formular .lineone, .Form .formular .linetwo {
    justify-content: center;
    padding-bottom: 0.8em;
    width: 60%;
    margin: 0 auto;
  }
  .Form .formular textarea {
    width: 18em;
    margin: 0;
    margin: 0 auto;
  }
  .Form .formular input[type=text] {
    width: 8em;
  }
}
@media only screen and (max-width: 480px) {
  .Form .formular {
    width: 90%;
  }
}
@media only screen and (min-width: 870px) {
  .Form .formular {
    zoom: 120%;
  }
}
@media only screen and (min-width: 1300px) {
  .Form .formular {
    zoom: 144%;
  }
}
footer {
  background: #464646;
  color: white;
  padding: 2em 0;
}
footer a {
  color: white;
}
footer .container {
  width: 100%;
  display: flex;
  font-size: 0.7em;
  position: relative;
  overflow: auto;
  justify-content: space-between;
}
footer .container ul {
  list-style-type: none;
  font-weight: lighter;
}
footer .container .footerOne {
  padding-left: 2em;
}
footer .container .footerThree {
  padding-right: 2em;
}
footer .container .CompanyFooter {
  padding-bottom: 1em;
  font-size: 1.3em;
}
footer .container .ContactFooter {
  padding-bottom: 1em;
  font-size: 1.3em;
}
footer .container .AdressFooter {
  padding-bottom: 1em;
  font-size: 1.3em;
}

@media only screen and (min-width: 780px) {
  footer .container {
    width: 780px;
    margin-inline: auto;
  }
  footer .container li {
    font-size: 1.4em;
  }
  footer .container .ContactFooter, footer .container .CompanyFooter, footer .container .AdressFooter {
    font-size: 1.8em;
  }
}/*# sourceMappingURL=MediumBox.css.map */