html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary-color: #20ce34;
  font-size: 100%;
}

.logo {
  width: 2em;
  height: 2.5em;
  margin-left: 1.5em;
  margin-top: 0.2em;
}

.navBar {
  margin: 0.5em;
}
.navBar .container {
  display: flex;
  justify-content: space-between;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav a {
  color: #20ce34;
  padding: 0.75em 2em;
  display: block;
  gap: 1em;
  text-decoration: none;
  width: 100%;
}
nav a:hover {
  text-decoration: underline;
}
nav .close {
  width: 1.7em;
  float: right;
  margin: 2em;
  cursor: pointer;
}

.mobile-menu {
  margin-right: 1.5em;
  zoom: 110%;
  cursor: pointer;
}

.open-nav {
  transform: translateX(0);
}

@media only screen and (min-width: 780px) {
  .mobile-menu, .close {
    display: none;
  }

  .navBar .container {
    text-align: center;
    display: flex;
  }
  .navBar .container nav {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    position: unset;
    height: auto;
    width: 100%;
    transform: translateX(0);
    margin: 0;
  }
  .navBar .container ul {
    margin: 0 auto;
    display: flex;
  }
  .navBar .container a {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
  }
  .navBar .container .btn {
    width: 4.8em;
    padding-right: 0;
    padding-left: 0;
    border: #20ce34 1px solid;
    padding-inline: 1em;
    border-radius: 3em;
    color: white;
    background-color: #20ce34;
  }
  .navBar .container .logo {
    width: 2em;
    height: 2.5em;
  }
}
@media only screen and (min-width: 1190px) {
  .navBar .container {
    width: 1190px;
    margin: 0 auto;
  }
}
.hero {
  background-image: url("img/Product hero.jpg");
  width: 100%;
  height: 81vh;
  background-position: center;
  background-size: cover;
  text-align: left;
  padding-top: 9em;
  margin: 0;
  overflow-x: none;
}
.hero h1 {
  color: white;
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding-left: 1.5em;
}
.hero h2 {
  color: white;
  font-size: 1.4em;
  font-weight: 100;
  padding-right: 0.6em;
  padding-top: 0;
}
.hero .heroOffer {
  display: flex;
  margin: 0 auto;
  justify-content: left;
  padding: 0;
  padding-left: 3.5em;
}
.hero .heroOffer img {
  width: 1.4em;
  -o-object-fit: cover;
     object-fit: cover;
  height: 1.4em;
  padding-top: 1.2em;
  padding-right: 2em;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .hero {
    text-align: center;
    font-size: 120%;
  }
  .hero h1 {
    padding-right: 6em;
  }
  .hero .heroOffer {
    padding-left: 8.6em;
  }
  .hero .container {
    width: 700px;
    margin-inline: 0 auto;
  }
}
@media only screen and (min-width: 1000px) {
  .hero h1 {
    padding-right: 0;
  }
  .hero .heroOffer {
    padding-left: 14.6em;
  }
}
@media only screen and (min-width: 1400px) {
  .hero {
    font-size: 140%;
  }
  .hero .heroOffer {
    padding-left: 12.5em;
  }
}
@media only screen and (min-width: 1700px) {
  .hero {
    padding-left: 9em;
    font-size: 160%;
  }
  .hero .heroOffer {
    padding-left: 9em;
  }
}
.Offer {
  text-align: center;
  margin-inline: 0 auto;
  color: black;
  text-decoration: none;
}
.Offer a {
  text-decoration: none;
}
.Offer .BoxLogo {
  width: 13em;
}
.Offer .CupLogo {
  width: 13em;
}
.Offer h1 {
  font-size: 4em;
  margin: 0;
  padding-top: 1.2em;
  padding-bottom: 1em;
}
.Offer .Boxes {
  text-align: left;
}
.Offer .Boxes ul {
  margin: 2em 0 auto;
  margin-right: 3em;
}
.Offer .Boxes li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 16em;
  margin: 0 auto;
  margin-bottom: 2em;
  color: black;
  text-decoration: none;
}
.Offer .Boxes h6 {
  font-weight: 100;
}
.Offer .Boxes img {
  width: 7em;
  padding-right: 3em;
}
.Offer .Cups a {
  color: black;
}
.Offer .Cups li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 16em;
  margin: 0 auto;
  margin-bottom: 2em;
  justify-content: space-between;
  color: black;
}
.Offer .Cups li img {
  padding-left: 0.8em;
  height: 5.5em;
  padding-top: 1.4em;
}
.Offer .Cups li h6 {
  padding-right: 2.5em;
  font-weight: 100;
  font-size: 1em;
}
.Offer .Cups img {
  width: 5em;
}
.Offer .Cups ul {
  margin: 2em 0 auto;
  margin-right: 3em;
}

@media only screen and (min-width: 550px) {
  .Offer ul {
    zoom: 110%;
  }
  .Offer .BoxLogo, .Offer .CupLogo {
    zoom: 110%;
  }
}
@media only screen and (min-width: 700px) {
  .Offer .containerBox {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .Offer .containerBox ul {
    margin-right: 0;
  }
  .Offer .containerBox .BoxLogo {
    margin: 2em 0;
    width: 300px;
    height: 300px;
    padding: 0;
  }
}
@media only screen and (min-width: 920px) {
  .Offer .containerBox {
    gap: 10%;
  }
}
@media only screen and (min-width: 700px) {
  .Offer .containerCup {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    justify-content: center;
  }
  .Offer .containerCup .CupLogo {
    margin: 2em 0;
    width: 300px;
    height: 300px;
    padding: 0;
  }
}
@media only screen and (min-width: 920px) {
  .Offer .containerCup {
    gap: 10%;
  }
}
footer {
  background: #464646;
  color: white;
  padding: 2em 0;
}
footer a {
  color: white;
}
footer .container {
  width: 100%;
  display: flex;
  font-size: 0.7em;
  position: relative;
  overflow: auto;
  justify-content: space-between;
}
footer .container ul {
  list-style-type: none;
  font-weight: lighter;
}
footer .container .footerOne {
  padding-left: 2em;
}
footer .container .footerThree {
  padding-right: 2em;
}
footer .container .CompanyFooter {
  padding-bottom: 1em;
  font-size: 1.3em;
}
footer .container .ContactFooter {
  padding-bottom: 1em;
  font-size: 1.3em;
}
footer .container .AdressFooter {
  padding-bottom: 1em;
  font-size: 1.3em;
}

@media only screen and (min-width: 780px) {
  footer .container {
    width: 780px;
    margin-inline: auto;
  }
  footer .container li {
    font-size: 1.4em;
  }
  footer .container .ContactFooter, footer .container .CompanyFooter, footer .container .AdressFooter {
    font-size: 1.8em;
  }
}/*# sourceMappingURL=Produkty.css.map */